/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

 html {
  height: 200px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}


 button {
  font: bold;
  background-color: red;
  color: brown;
  border-radius: 50%;
 }

 button:hover {
  background-color: pink;

 }

 h1 {
  color: green;
 }

 h2 {
  color: aquamarine;
 }

 a {
  color: red
 }
